<div class="col s12 m3 round">
        <div class="row rd-row">
            <h5>Round 2</h5>
            <div class="end-btn">
                <button data-id="{{dbBracket.id}}" data-rd="3" class="btn waves-effect waves-light end-rd" type="submit" name="action">End Round</button>
            </div>
        </div>
        <div class="row pairing">
            <div class="col s12">
                <div class="row">
                    <div class="col s6 m12 first">
                        <p>{{dbBracket.MatchUps.[4].option1}} | Current Votes: {{dbBracket.MatchUps.[4].option1_votes}}</p>
                        <button class="vote" data-for="{{dbBracket.MatchUps.[4].option1}}" data-not="{{dbBracket.MatchUps.[4].option2}}" data-id="{{dbBracket.id}}">vote</button>
                    </div>
                    <div class="col s6 m12 second">
                        <p>{{dbBracket.MatchUps.[4].option2}} | Current Votes: {{dbBracket.MatchUps.[4].option2_votes}}</p>
                        <button class="vote" data-for="{{dbBracket.MatchUps.[4].option2}}" data-not="{{dbBracket.MatchUps.[4].option1}}" data-id="{{dbBracket.id}}">vote</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pairing">
            <div class="col s12">
                <div class="row">
                    <div class="col s6 m12 first">
                        <p>{{dbBracket.MatchUps.[5].option1}} | Current Votes: {{dbBracket.MatchUps.[5].option1_votes}}</p>
                        <button class="vote" data-for="{{dbBracket.MatchUps.[5].option1}}" data-not="{{dbBracket.MatchUps.[5].option2}}" data-id="{{dbBracket.id}}">vote</button>
                    </div>
                    <div class="col s6 m12 second">
                        <p>{{dbBracket.MatchUps.[5].option2}} | Current Votes: {{dbBracket.MatchUps.[5].option2_votes}}</p>
                        <button class="vote" data-for="{{dbBracket.MatchUps.[5].option2}}" data-not="{{dbBracket.MatchUps.[5].option1}}" data-id="{{dbBracket.id}}">vote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>